In [2]:
import pandas as pd
import numpy as mp
import seaborn as sns
import matplotlib.pyplot as plt
import folium
import json
import matplotlib as mpl
plt.rc('font', family='Malgun Gothic')
import os
print(os.getcwd())

C:\Suwon_Security

In [91]:
# 전국 & 서울 + 각 구별 인구 & 수원 & 창원 & 진주 인구 데이터 ( 2019년 )
df_pop = pd.read_csv("data/행정구역_시군구_별_주민등록세대수.csv", encoding = 'ansi')
df_pop.columns = ['city','pop']
df_pop.set_index('city', inplace=True)
pop_seoul = df_pop.iloc[0:27]
pop_else = df_pop.loc[['수원시', '창원시', '진주시']]
df_pop = pop_seoul.append(pop_else)
display(df_pop)

df_pop.to_csv('output/2019년_전국+서울전체+서울구별+수원+창원+진주_인구.csv', encoding='utf-8')

            pop
city
전국     23383689
서울특별시   4421143
종로구       73652
중구        63267
용산구      111177
성동구      134620
광진구      167438
동대문구     167591
중랑구      185497
성북구      195099
강북구      144573
도봉구      138582
노원구      217269
은평구      214181
서대문구     143712
마포구      179541
양천구      181281
강서구      270389
구로구      180424
금천구      116545
영등포구     186360
동작구      184825
관악구      276182
서초구      171497
강남구      234218
송파구      282018
강동구      201205
수원시      516103
창원시      450188
진주시      156800

In [16]:
# 서울 관할구 연령별 디테일 인구특성 분포 (2021 2분기)

df_seoul = pd.read_csv("data/연령별_구별_서울시_주민등록인구_2분기_2021.csv", encoding = 'ansi')
df_seoul.drop(['연도','분기'],axis=1,inplace=True)
#print(df_seoul.dtypes)
df_seoul.replace(' ', 0, inplace=True)
df_seoul['연령90_94세'] = df_seoul['연령90_94세'].astype(int)
df_seoul['연령95_100세'] = pd.to_numeric(df_seoul['연령95_100세'])
df_seoul['연령_100세이상'] =pd.to_numeric(df_seoul['연령_100세이상'])
#display(df_seoul.info())
#print(df_seoul.isblank().sum(axis=1))
df_seoul['10세 미만'] = df_seoul['연령0_4세']+df_seoul['연령5_9세']
df_seoul['10대'] = df_seoul['연령10_14세']+df_seoul['연령15_19세']
df_seoul['20대'] = df_seoul['연령20_24세']+df_seoul['연령25_29세']
df_seoul['30대'] = df_seoul['연령30_34세']+df_seoul['연령35_39세']
df_seoul['40대'] = df_seoul['연령40_44세']+df_seoul['연령45_49세']
df_seoul['50대'] = df_seoul['연령50_54세']+df_seoul['연령55_59세']
df_seoul['60대'] = df_seoul['연령60_64세']+df_seoul['연령65_69세']
df_seoul['70세 이상'] = df_seoul['연령70_74세']+df_seoul['연령75_79세']+df_seoul['연령80_84세']+df_seoul['연령85_89세']+df_seoul['연령90_94세']+df_seoul['연령95_100세']+df_seoul['연령_100세이상']

df_seoul.drop(df_seoul.columns[3:24],axis=1,inplace=True)
df_seoul.drop(df_seoul.index[38],axis=0,inplace=True)
display(df_seoul)

#df_seoul.to_csv('output/2021년_서울_관할지역_연령별_내외국인분포.csv', encoding='utf-8')

FileNotFoundError: [Errno 2] No such file or directory: 'data/연령별_구별_서울시_주민등록인구_2분기_2021.csv'

In [15]:
# 행정구역 별 통계치
#grouped_area = 
Seoul_foreign = df_seoul.groupby(['행정구역','구분']).sum()
Seoul_total = df_seoul.groupby(['행정구역']).sum()
#grouped_area
# for key, group in grouped_area :
#     print('- area : ', key)
#     print(group)
#     print('\n')
dispaly(Seoul_total)
display(Seoul_foreign)
# Seoul_total.to_csv('output/2021년_서울_관할지역_연령별_총인구분포.csv', encoding='utf-8')
# Seoul_foreign.to_csv('output/2021년_서울_관할지역_연령별_내외국인분포.csv', encoding='utf-8')

NameError: name 'df_seoul' is not defined

In [27]:
one_person = pd.read_csv('data/33.4개시도_1인가구수.csv', encoding='utf-8')
one_person.columns = ['지역', '관할구','성별','연령','시점','1인가구','주택_계', '단독주택','아파트','연립주택','다세대주택','비거주용건물내주택','주택외거처']

one_person = one_person.loc[one_person['연령']=='합계']
display(one_person)
one_person.replace('X', 0, inplace=True)

one_person['아파트'] = one_person['아파트'].astype(int)
one_person['연립주택'] = one_person['연립주택'].astype(int)
one_person['다세대주택'] = one_person['다세대주택'].astype(int)
one_person['비거주용건물내주택'] = one_person['비거주용건물내주택'].astype(int)
one_person['주택외거처'] = one_person['주택외거처'].astype(int)
display(one_person.info())

one_person.drop('연령', axis=1, inplace=True)

total_group = one_person.groupby(['지역','관할구','시점']).sum()
display(total_group[10:32])
total_group.to_csv('output/4개시도_연도별_1인가구+주택현황.csv',encoding='utf-8')

,지역,관할구,성별,연령,시점,1인가구,주택_계,단독주택,아파트,연립주택,다세대주택,비거주용건물내주택,주택외거처
0,서울특별시,종로구,계,합계,2017,23638,19260,11234,2992,887,3279,868,4378
16,서울특별시,종로구,남자,합계,2017,11594,9013,5565,1282,315,1407,444,2581
32,서울특별시,종로구,여자,합계,2017,12044,10247,5669,1710,572,1872,424,1797
48,서울특별시,중구,계,합계,2017,20164,16111,7181,5673,301,2102,854,4053
64,서울특별시,중구,남자,합계,2017,9826,7480,3475,2384,142,1027,452,2346
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4960,서울특별시,광진구,남자,합계,2018,27057,24028,17100,1359,218,4129,1222,3029
4976,서울특별시,광진구,여자,합계,2018,29280,26222,16925,2232,367,5526,1172,3058
4992,서울특별시,광진구,계,합계,2019,58714,52345,34357,4142,557,10857,2432,6369
5008,서울특별시,광진구,남자,합계,2019,28035,24993,17395,1565,200,4551,1282,3042
5024,서울특별시,광진구,여자,합계,2019,30679,27352,16962,2577,357,6306,1150,3327

<class 'pandas.core.frame.DataFrame'>
Int64Index: 315 entries, 0 to 5024
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   지역         315 non-null    object
 1   관할구        315 non-null    object
 2   성별         315 non-null    object
 3   연령         315 non-null    object
 4   시점         315 non-null    int64
 5   1인가구       315 non-null    int64
 6   주택_계       315 non-null    int64
 7   단독주택       315 non-null    int64
 8   아파트        315 non-null    int32
 9   연립주택       315 non-null    int32
 10  다세대주택      315 non-null    int32
 11  비거주용건물내주택  315 non-null    int32
 12  주택외거처      315 non-null    int32
dtypes: int32(5), int64(4), object(4)
memory usage: 28.3+ KB

None

                       1인가구    주택_계   단독주택    아파트  연립주택  다세대주택  비거주용건물내주택  \
지역    관할구      시점
경기도   수원시팔달구   2018   54628   44282  21800  11096   854   8932       1600
               2019   56396   45806  20890  12562  1352   9232       1770
경상남도  진주시      2017   83246   79634  53552  21370   534   1658       2520
               2018   84280   80556  52184  23858   534   1580       2400
               2019   88006   84232  52224  27368   604   1576       2460
      창원시마산합포구 2017   43038   37874  24324  11308   652    590       1000
               2018   43806   38548  24160  12236   702    562        888
               2019   46766   41144  25792  13114   730    586        922
      창원시마산회원구 2017   40330   37458  22516  11650  1242   1242        808
               2018   40138   37016  21232  12506  1288   1224        766
               2019   40662   37660  20736  13598  1362   1268        696
      창원시성산구   2017   37022   29686  13626  15584    70     19        384
               2018   38814   30774  13016  17250    86     26        396
               2019   40226   32158  12968  18728    78     17        364
      창원시의창구   2017   52970   50546  35858  12030   606   1208        844
               2018   53874   51150  34576  13648   626   1434        866
               2019   56270   53460  34070  16774   688   1152        776
      창원시진해구   2017   38044   36780  21256  12810  1210   1140        364
               2018   39928   38780  21122  14990  1208   1110        350
               2019   41924   40742  20994  16876  1310   1196        366
서울특별시 강남구      2017  125548  106928  38518  39308  2148  22668       4286
               2018  125454  105614  38076  37228  2090  23776       4444

                     주택외거처
지역    관할구      시점
경기도   수원시팔달구   2018  10346
               2019  10590
경상남도  진주시      2017   3612
               2018   3724
               2019   3774
      창원시마산합포구 2017   5164
               2018   5258
               2019   5622
      창원시마산회원구 2017   2872
               2018   3122
               2019   3002
      창원시성산구   2017   7336
               2018   8040
               2019   8068
      창원시의창구   2017   2424
               2018   2724
               2019   2810
      창원시진해구   2017   1264
               2018   1148
               2019   1182
서울특별시 강남구      2017  18620
               2018  19840

In [35]:
#서울시 단독가구
seoul_only = pd.DataFrame(one_person.loc[one_person['지역']=='서울특별시'])
seoul_only.drop('지역', axis=1, inplace=True)
group_seoul = seoul_only.groupby(['관할구','성별','시점']).sum()
display(group_seoul)
total_group.to_csv('output/서울시_관할구_연도별_1인가구+주택현황.csv',encoding='utf-8')

#수원시 단독가구
suwon_only = pd.DataFrame(one_person.loc[one_person['지역']=='경기도'])
suwon_only.drop('지역', axis=1, inplace=True)
group_suwon = suwon_only.groupby(['관할구','성별','시점']).sum()
display(group_suwon)
total_group.to_csv('output/수원시_관할구_연도별_1인가구+주택현황.csv',encoding='utf-8')

#창원시 단독가구
#['창원시마산합포구','창원시마산회원구','창원시성산구','창원시의창구','창원시진해구']
changwon_only = pd.DataFrame(one_person.loc[one_person['지역']=='경상남도'])
changwon_only.drop('지역', axis=1, inplace=True)
changwon_only = changwon_only.loc[changwon_only['관할구']!='진주시']
group_changwon = changwon_only.groupby(['관할구','성별','시점']).sum()
display(group_changwon)
total_group.to_csv('output/창원시_관할구_연도별_1인가구+주택현황.csv',encoding='utf-8')

#진주시 단독가구
jinju_only = pd.DataFrame(one_person.loc[one_person['지역']=='경상남도'])
jinju_only.drop('지역', axis=1, inplace=True)
jinju_only = jinju_only.loc[jinju_only['관할구']=='진주시']
group_jinju = jinju_only.groupby(['관할구','성별','시점']).sum()
display(group_jinju)
total_group.to_csv('output/진주시_연도별_1인가구+주택현황.csv',encoding='utf-8')

# display(seoul_only[1000:1050])
#one_person_area = one_person.groupby(['지역','관할구','시점']).sum()
#display(one_person_area)

              1인가구   주택_계   단독주택    아파트  연립주택  다세대주택  비거주용건물내주택  주택외거처
관할구 성별 시점
강남구 계  2017  62774  53464  19259  19654  1074  11334       2143   9310
       2018  62727  52807  19038  18614  1045  11888       2222   9920
       2019  66073  55051  19287  19693  1066  12763       2242  11022
    남자 2017  26515  21703   8487   7204   432   4553       1027   4812
       2018  26718  21733   8593   6715   433   4935       1057   4985
...            ...    ...    ...    ...   ...    ...        ...    ...
중랑구 남자 2018  24711  22833  15407   3085   363   3177        801   1878
       2019  25988  23967  15866   3349   355   3503        894   2021
    여자 2017  23543  22252  13456   4620   442   3100        634   1291
       2018  24496  23107  13439   4927   471   3610        660   1389
       2019  26208  24632  13651   5537   535   4189        720   1576

[225 rows x 8 columns]

                 1인가구   주택_계   단독주택    아파트  연립주택  다세대주택  비거주용건물내주택  주택외거처
관할구    성별 시점
수원시권선구 계  2017  35533  33608  17942   9357   410   4929        970   1925
          2018  37964  35815  17788  11140   446   5547        894   2149
          2019  39353  36821  17620  11675   516   6101        909   2532
       남자 2017  19522  18300  10504   4376   150   2661        609   1222
          2018  20931  19623  10610   5285   174   3012        542   1308
          2019  21621  20074  10586   5371   200   3359        558   1547
       여자 2017  16011  15308   7438   4981   260   2268        361    703
          2018  17033  16192   7178   5855   272   2535        352    841
          2019  17732  16747   7034   6304   316   2742        351    985
수원시영통구 계  2017  34918  27186  14309  11128   220    810        719   7732
          2018  37862  28368  14153  12321   219    884        791   9494
          2019  41299  31260  14545  14550   344   1016        805  10039
       남자 2017  20433  15551   9271   5253   102    433        492   4882
          2018  21621  15927   9087   5749    93    457        541   5694
          2019  23150  17314   9265   6802   155    541        551   5836
       여자 2017  14485  11635   5038   5875   118    377        227   2850
          2018  16241  12441   5066   6572   126    427        250   3800
          2019  18149  13946   5280   7748   189    475        254   4203
수원시장안구 계  2017  26987  25730  14249   5608   408   4662        803   1257
          2018  26472  25139  13036   5998   434   5015        656   1333
          2019  28505  27297  14209   6287   402   5589        810   1208
       남자 2017  14824  14006   8526   2259   188   2468        565    818
          2018  14089  13242   7593   2377   196   2636        440    847
          2019  15550  14764   8624   2434   184   2959        563    786
       여자 2017  12163  11724   5723   3349   220   2194        238    439
          2018  12383  11897   5443   3621   238   2379        216    486
          2019  12955  12533   5585   3853   218   2630        247    422
수원시팔달구 계  2017  27573  22907  12031   5297   411   4387        781   4666
          2018  27314  22141  10900   5548   427   4466        800   5173
          2019  28198  22903  10445   6281   676   4616        885   5295
       남자 2017  14889  11879   6690   2248   192   2281        468   3010
          2018  14780  11510   6125   2316   206   2366        497   3270
          2019  15293  11938   5944   2687   363   2404        540   3355
       여자 2017  12684  11028   5341   3049   219   2106        313   1656
          2018  12534  10631   4775   3232   221   2100        303   1903
          2019  12905  10965   4501   3594   313   2212        345   1940

                   1인가구   주택_계   단독주택   아파트  연립주택  다세대주택  비거주용건물내주택  주택외거처
관할구      성별 시점
창원시마산합포구 계  2017  21519  18937  12162  5654   326    295        500   2582
            2018  21903  19274  12080  6118   351    281        444   2629
            2019  23383  20572  12896  6557   365    293        461   2811
         남자 2017  10113   8525   5748  2228   138    127        284   1588
            2018  10238   8627   5755  2368   145    124        235   1611
            2019  10952   9269   6267  2477   149    121        255   1683
         여자 2017  11406  10412   6414  3426   188    168        216    994
            2018  11665  10647   6325  3750   206    157        209   1018
            2019  12431  11303   6629  4080   216    172        206   1128
창원시마산회원구 계  2017  20165  18729  11258  5825   621    621        404   1436
            2018  20069  18508  10616  6253   644    612        383   1561
            2019  20331  18830  10368  6799   681    634        348   1501
         남자 2017   9818   8936   5921  2272   246    254        243    882
            2018   9739   8798   5621  2443   252    249        233    941
            2019   9688   8779   5401  2663   257    255        203    909
         여자 2017  10347   9793   5337  3553   375    367        161    554
            2018  10330   9710   4995  3810   392    363        150    620
            2019  10643  10051   4967  4136   424    379        145    592
창원시성산구   계  2017  18511  14843   6813  7792    35     11        192   3668
            2018  19407  15387   6508  8625    43     13        198   4020
            2019  20113  16079   6484  9364    39     10        182   4034
         남자 2017  10135   7849   4165  3542    16      8        118   2286
            2018  10488   7992   4016  3825    22      8        121   2496
            2019  10666   8185   3993  4063    15      7        107   2481
         여자 2017   8376   6994   2648  4250    19      0         74   1382
            2018   8919   7395   2492  4800    21      5         77   1524
            2019   9447   7894   2491  5301    24      0         75   1553
창원시의창구   계  2017  26485  25273  17929  6015   303    604        422   1212
            2018  26937  25575  17288  6824   313    717        433   1362
            2019  28135  26730  17035  8387   344    576        388   1405
         남자 2017  14255  13436  10081  2667   133    301        254    819
            2018  14470  13559   9733  3070   130    377        249    911
            2019  15119  14184   9617  3912   144    275        236    935
         여자 2017  12230  11837   7848  3348   170    303        168    393
            2018  12467  12016   7555  3754   183    340        184    451
            2019  13016  12546   7418  4475   200    301        152    470
창원시진해구   계  2017  19022  18390  10628  6405   605    570        182    632
            2018  19964  19390  10561  7495   604    555        175    574
            2019  20962  20371  10497  8438   655    598        183    591
         남자 2017  10675  10259   6360  3289   262    260         88    416
            2018  11107  10726   6392  3764   241    246         83    381
            2019  11631  11233   6334  4289   250    265         95    398
         여자 2017   8347   8131   4268  3116   343    310         94    216
            2018   8857   8664   4169  3731   363    309         92    193
            2019   9331   9138   4163  4149   405    333         88    193

              1인가구   주택_계   단독주택    아파트  연립주택  다세대주택  비거주용건물내주택  주택외거처
관할구 성별 시점
진주시 계  2017  41623  39817  26776  10685   267    829       1260   1806
       2018  42140  40278  26092  11929   267    790       1200   1862
       2019  44003  42116  26112  13684   302    788       1230   1887
    남자 2017  19430  18318  12777   4308   104    446        683   1112
       2018  19676  18551  12489   4883    98    421        660   1125
       2019  20641  19505  12591   5706   111    417        680   1136
    여자 2017  22193  21499  13999   6377   163    383        577    694
       2018  22464  21727  13603   7046   169    369        540    737
       2019  23362  22611  13521   7978   191    371        550    751